@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

h2{
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    color: white;
    margin: 20px;
    text-decoration: underline;
    text-decoration-color: #06d2dd;
}

.response-container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.response-btn {
    background-color: #0b112b;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 2px 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.4s;
    border-radius: 5px;
}

.response-btn:hover {
    background-color: #06d2dd;
}

.response-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out; /* Only transition max-height */
    background-color: #f1f1f1;
    border-left: 10px solid #06d2dd;
    margin-bottom: 10px;
    border-radius: 5px;
}

.response-content.show {
    max-height: 1000px; /* Adjust as necessary */
}

.response-inner {
    padding: 10px; /* This padding is applied consistently and won't animate */
    background-color: transparent; /* Ensure no background is copied */
}

.response-content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
}

.response-content li {
    color: #333; /* Dark text color */
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-left: 5%;
}

.questions h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: white;
}

.response-content h4{
    color: #0b112b;
}

.response-content a{
    color: #333;
}

.questions{
    margin-bottom: 20px;
}

.copy-btn{
    display: block;
    float: right;
    margin: 10px;
    background-color: #06d2dd;
}

.errorImg{
    width: 50vw;
    height: 50vh;
}

/* Media Queries for Responsiveness */

/* Tablets (768px to 1024px) */
@media (max-width: 1024px) {
   
}

/* Mobile (up to 768px) */
@media (max-width: 768px) {
    h2{
        font-size: 1.3rem;
    }

    .response-container {
        width: 85%;
        margin: auto;
        padding: 0px;
    }

    .response-btn{
        font-size: 14px;
    }

    .questions h3{
        font-size: 1.2rem;
    }

    .response-inner img{
        height: 20vh;
        width: 80vw;
    }

    .accordion-content {
        display: flex;
        flex-direction: column; /* Stack content vertically */
        align-items: center;
    }

    .copy-btn{
        float: none;
        width: calc(100% - 80px); /* Adjust width to leave space for margin */
        margin: 10px 40px;
    }
}